@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwind-scrollbar";

@theme inline {
    --color-fg-lobby-extralight: #c9d6ef;
    --color-fg-lobby-main: #c5d7ff;
    --color-fg-lobby-light: #b5c5e9;
    --color-fg-lobby-base: #aabde5;
    --color-fg-lobby-dark: #a0b5e2;
    --color-fg-lobby-extradark: #96adde;

    --color-fg-programming-text: #c5d3ed;
    --color-fg-programming-primary: #3faff5;
    --color-fg-programming-secondary: #9dabdc;

    --color-bg-lobby: #121212;
    --color-bg-highlight: #131821;
    --color-bg-curtain: #6082b6;

    --color-selection: #2a3242;
    --color-selection-fg: #b5c5e9;

    --font-salsa: var(--font-salsa);
    --font-ubuntu: var(--font-ubuntu-sans);

    --cursor-default: url(/cursors/default.cur), default;
    --cursor-pointer: url(/cursors/pointer.cur), pointer;
    --cursor-text: url(/cursors/text.cur), text;

    --breakpoint-xs: 412px;
}

@layer base {
    body {
        @apply cursor-default overflow-x-hidden overflow-y-auto;
    }

    ::selection {
        @apply bg-selection text-selection-fg;
    }

    p {
        cursor: text;
    }

    .aboutText {
        @apply text-fg-programming-text cursor-text text-xl font-bold;
        font-size: clamp(0.75rem, 0.6rem + 0.4vw, 1rem);
    }

    .aboutText-highlight {
        @apply text-fg-programming-primary hover:underline cursor-pointer decoration-dashed underline-offset-4;
    }
}

@layer components {
    .text-gradient {
        background: linear-gradient(
            to right,
            #93c5fd,
            #c4b5fd,
            #5eead4,
            #93c5fd
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    .text-gradient::selection {
        background: var(--color-selection);
        color: var(--color-selection-fg);
    }
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}
