@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwind-scrollbar";

@theme inline {
    --color-fg-lobby-extralight: #c9d6ef;
    --color-fg-lobby-main: #c5d7ff;
    --color-fg-lobby-light: #b5c5e9;
    --color-fg-lobby-base: #aabde5;
    --color-fg-lobby-dark: #a0b5e2;
    --color-fg-lobby-extradark: #96adde;

    --color-fg-programming-main: #c5d3ed;

    --color-bg-lobby: #121212;
    --color-bg-programming: #0E0E0E;
    --color-bg-highlight: #131821;
    --color-bg-curtain: #6082B6;

    --color-selection: #2a3242;
    --color-selection-fg: #b5c5e9;

    --font-salsa: var(--font-salsa);
    --font-ubuntu: var(--font-ubuntu-sans);

    --cursor-default: url(/cursors/default.cur), default;
    --cursor-pointer: url(/cursors/pointer.cur), pointer;
    --cursor-text: url(/cursors/text.cur), text;

    --breakpoint-xs: 412px;
}

@layer base {
    body {
        /* TODO: Add Custom Scrollbar */
        @apply cursor-default overflow-x-hidden;
    }

    ::selection {
        @apply bg-selection text-selection-fg;
    }

    p {
        cursor: text;
    }
}

@layer components {
    .text-gradient {
        background: linear-gradient(
            to right,
            #93c5fd,
            #c4b5fd,
            #5eead4,
            #93c5fd
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    .text-gradient::selection {
        background: var(--color-selection);
        color: var(--color-selection-fg);
    }
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}
