	{% extends 'base.html' %}
	{% load static %}
	{% block title %} About {% endblock %}
	{% block navbarlink %}
    <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item font-weight-bold">
		<a class="nav-link" href="/social_media/">Social Media<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/contact_me/">Contact<span class="sr-only">(current)</span></a>
    </li>
	<li class="nav-item font-weight-bold">
        <a class="nav-link" href="/discord_widget/">Discord Widget<span class="sr-only">(current)</span></a>
    </li>
	{% endblock %}
	{% block head %}
	<link rel="stylesheet" href="{% static 'styles/about.css' %}">
	{% endblock %}
	{% block body %}
        <center>
            <div class="aboutPage__header">
                <div className="aboutPage__header_heading">
					<h4>Hey Guys, If You've come here to know about me!!</h4>
					<h4>Here's all you should know about me!!</h4>
				</div>
                <br/>
            </div>
        </center>
        <div class="container">
            <p class="main_text">
                My name is JONAK ADIPTA KALITA. I am a student in Kendriya Vidyalaya Mangaldoi, I am 
				currently studying in standard '8th'. My mom is a Banker and my Dad is a Mathematics 
				Teacher. I am a Coder and also a 'Home Game Developer'. I code for fun but sometimes
                I also teach some of my colleagues some 'Python'. I love Python and JavaScript the most.
				I am a Youtuber too. I love to play Games such as NFS, COD, AC, Among Us, GTA, etc. I 
				am a huge fan of Anime and watched 'Pokemon', 'One_Piece', 'Beyblade', 'DBG'. If you 
				want to get to my Instagram, Github, Reddit you have to find it by yourself. Actually 
				you'll find my Social Medias in the Social Media Page.
            </p>
            <center>
                <p>
                    😎😎😎😎😎😎
                </p>
				<br/>
            </center>
        </div>
	{% endblock %}
	