	{% extends 'base.html' %}
	{% block title %} Anouncements {% endblock %}
    {% block navbarlink %}
    <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/about/">About<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/social_media/">Social Media<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/contact_me/">Contact<span class="sr-only">(current)</span></a>
    </li>
    {% endblock %}
	{% block body %}
		<div class="container">
            <div class="row">
				<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title text-center">My PokeGo Code</h5>
						<p class="card-text text-center">
							Become My Friend In PokeGo!!
						</p>
						<a href="PokeGoCode/" class="btn btn-primary d-block">CODE</a>
					</div>
				</div>
				<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title text-center">My WhatsApp Group</h5>
						<p class="card-text text-center">
							Join my Whatsapp Group!!
						</p>
						<a href="https://chat.whatsapp.com/EOOq07ixKsBeiOOyrCyZH" class="btn btn-primary d-block">LINK</a>
					</div>
				</div>
				<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title text-center">My API</h5>
						<p class="card-text text-center">
							Checkout my Own API!!
						</p>
						<a href="http://jak-api-dot-com.herokuapp.com/" class="btn btn-primary d-block">LINK</a>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
