{% extends "base.html" %}
{% block title %} Contact Me {% endblock %}
{% block body %}
	<div class="my-4">
		<h3>Contact Me!!</h3>
        <form action="/contact_me/" method='post'>
			{% csrf_token %}
			<div class="form-group">
				<label for="name">Your Name</label>
				<input
					type="name"
					required
					class="form-control"
					id="name"
					placeholder="Enter your Name"
					name="name"
				/>
			</div>
			<div class="form-group">
				<label for="email">Your Email</label>
                <input
					type="email"
					required
					class="form-control"
					id="email"
					placeholder="Enter your Email"
					name="email"
				/>
			</div>
            <div class="form-group">
				<label for="phone">Your Phone Number (with COUNTRY CODE)</label>
				<input
					type="tel"
					required
					class="form-control"
					id="phone"
					placeholder="Enter your Phone Number"
					name="phone"
				/>
			</div>
			<div class="form-group">
				<label for="desc">Describe what you want to contact me for here!!</label>
				<textarea
					type="text"
					required
					class="form-control"
					id="desc"
					placeholder="Your Message  (MAX: 500 Keywords)"
					name="desc"
				></textarea>
			</div>
			<div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_CLIENT_KEY }}"></div>
			<button type="submit" class="btn btn-primary mt-2">Submit</button>
		</form>
	</div>
{% endblock %}
