{% extends 'base.html' %}
{% block title %} MyAccount {% endblock %}
{% block navbarlink %}
<li class="nav-item font-weight-bold">
    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item font-weight-bold">
    <a class="nav-link" href="/about/">About<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item font-weight-bold">
    <a class="nav-link" href="/social_media/">Social Media<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item font-weight-bold">
	<a class="nav-link" href="/contact_me/">Contact<span class="sr-only">(current)</span></a>
</li>
{% endblock %}
{% block body %}
<center><h3>Still in Progress</h3></center>
{% endblock %}
