	{% extends 'base.html' %}
	{% block title %} My Photos {% endblock %}
	{% block navbarlink %}
        <li class="nav-item font-weight-bold">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item font-weight-bold">
            <a class="nav-link" href="/about/">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item font-weight-bold">
            <a class="nav-link" href="/social_media/">Social Media<span class="sr-only">(current)</span></a>
        </li>
		<li class="nav-item font-weight-bold">
            <a class="nav-link" href="/contact_me/">Contact<span class="sr-only">(current)</span></a>
        </li>
	{% endblock %}
	{% block body %}
	{% load static %}
	<div class="container">
		<div class="row">
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/meAndmyMom1.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me and My Mom
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/meAndmyMom2.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me and My Mom
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/meAndmyMom3.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me and My Mom
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/meAndmyMom4.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me and My Mom
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/meAndmyMom5.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me and My Mom
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/meAndmyGranny1.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me and My Maternal GrandaMa
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/meAndmyElderSis1.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me and My Elder Sister
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/meAndmyMomwithmy Auntie1.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me and My Mom with My Paternal Auntie
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/MyfirstPicwithMynewPhone.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						My First Picture with My New Phone
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/MysecondPicwithMynewPhone.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						My Second Picture with My New Phone
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/MyPicInKajiranga1.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						My Picture in Kajiranga, Assam, India
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/MeHoldingAGun.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me Holding A Gun
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/MeAndMyElderSis2.png'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me And My Cousin Sister
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/MeMyMomAndMyDADInKajiranga1.png'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me, My Dad and My Mom in Kajiranga
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/meAndmyElderSis3.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me and My Elder Sister
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/MyPhoto1.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me Swagging
					</h5>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<img src="{%static 'image/meMyMomAndMyDadinAWedding.jpg'%}" class="card-img-top" alt="..."/>
				<div class="card-body">
					<h5 class="card-title">
						Me, My Dad and My Mom in a Wedding
					</h5>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}