	{% extends 'base.html' %}
	{% block title %} My Photos {% endblock %}
	{% block navbarlink %}
        <li class="nav-item font-weight-bold">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item font-weight-bold">
            <a class="nav-link" href="/about/">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item font-weight-bold">
            <a class="nav-link" href="/social_media/">Social Media<span class="sr-only">(current)</span></a>
        </li>
		<li class="nav-item font-weight-bold">
            <a class="nav-link" href="/contact_me/">Contact<span class="sr-only">(current)</span></a>
        </li>
	{% endblock %}
	{% block body %}
	{% load static %}
	<div class="container">
		{% if user.is_authenticated %}
			<div class="row">
				{% for i in my_photo %}
					<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
						<img src="/media/{{i.image}}" class="card-img-top" alt="image"/>
						<div class="card-body">
							<h5 class="card-title">
								{{i.name}}
							</h5>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<center><h1>You need to Login or SignUp</h1></center>
		{% endif %}
	</div>
	<br />
	<br />
	{% endblock %}