	{% extends 'base.html' %}
	{% block title %} Games {% endblock %}
    {% block navbarlink %}
	<li class="nav-item font-weight-bold">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item font-weight-bold">
         <a class="nav-link" href="/about/">About<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/social_media/">Social Media<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/contact_me/">Contact<span class="sr-only">(current)</span></a>
    </li>
    {% endblock %}
	{% block body %}
		{% if notifications %}
			{% for notification in notifications%}
				<div class="container">
					<div class="row">
						<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
							<div class="card-body">
								<h5 class="card-title text-center">{{notification.notification_name}}</h5>
								<p class="card-text text-center">
									{{notification.notification_text}}
								</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<center><h1>All Set!!</h1></center>
		{% endif %}
	{% endblock %}
