	{% extends 'base.html' %}
	{% block title %} Search {% endblock %}
	{% block navbarlink %}
	<li class="nav-item font-weight-bold">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
    </li>
	<li class="nav-item font-weight-bold">
        <a class="nav-link" href="/about/">About<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/social_media/">Social Media<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/contact_me/">Contact<span class="sr-only">(current)</span></a>
    </li>
	{% endblock %}
	{% block body %}
	<div class="container my-3">
		<h3>Search Results:</h3>
	</div>
	{% if GamesFav or GamesOwn or MyPhotos %}
		<div class="container">
			<div class="row">
				{% for i in GamesFav %}
					<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
						<img src="/media/{{i.image}}" class="padded card-img-top" alt="game_img">
						<div class="card-body">
							<h5 class="card-title">
								{{ i.game_name }}
							</h5>
							<a href="{{ i.game_link }}" class="btn btn-primary">Play</a>
						</div>
					</div>
				{% endfor %}
				{% for i in GamesOwn %}
					<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
						<img src="/media/{{i.image}}" class="padded card-img-top" alt="game_img">
						<div class="card-body">
							<h5 class="card-title">
								{{ i.game_name }}
							</h5>
							<a href="{{ i.game_link }}" class="btn btn-primary">Play</a>
						</div>
					</div>
				{% endfor %}
				{% for i in MyPhotos %}
					<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
						<img src="/media/{{i.image}}" class="card-img-top" alt="image"/>
						<div class="card-body">
							<h5 class="card-title">
								{{i.name}}
							</h5>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<br />
		<br />
	{% else %}
		<div class="container my-3">
			<p>
				Your search - <b>{{query}}</b> - did not match any Documents!!
				<br />
				Suggestions:
				<ul>
					<li>
						Try different Keywords!!
					</li>
					<li>
						Make sure that all words are spelled Correctly!!
					</li>
					<li>
						Try more general Keywords!!
					</li>
					<li>
						Try fewer Keywords!!
					</li>
				</ul>
			</p>
		</div>
	{% endif %}
	{% endblock %}
