	{% extends 'base.html' %}
	{% block title %} Social Media {% endblock %}
	{% block navbarlink %}
        <li class="nav-item font-weight-bold">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item font-weight-bold">
            <a class="nav-link" href="/about/">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item font-weight-bold">
            <a class="nav-link" href="/contact_me/">Contact<span class="sr-only">(current)</span></a>
        </li>
	{% endblock %}
	{% block body %}
	<div class="container">
        <div class="row">
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">My YouTube</h5>
                    <p class="card-text text-center">
                        Subscribe to my YouTube!!
                    </p>
                    <a href="https://www.youtube.com/channel/UC6IPfVhkqfcfBZCko6Q9mnQ" class="btn btn-primary d-block">Go to My YouTube</a>
                </div>
            </div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">My Instagram</h5>
                    <p class="card-text text-center">
                        Follow me in Instagram!!
                    </p>
                    <a href="https://www.instagram.com/xxjonakadiptaxx/" class="btn btn-primary d-block">Go to My Instagram</a>
                </div>
            </div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">My Reddit</h5>
                    <p class="card-text text-center">
						Join my Reddit Community!!
                    </p>
                    <a href="https://www.reddit.com/r/BeastNight_TV/" class="btn btn-primary d-block">Go to My Reddit</a>
                </div>
            </div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">My Twitch</h5>
                    <p class="card-text text-center">
						Follow me on Twitch!!
                    </p>
                    <a href="https://www.twitch.tv/jonakadiptakalita_2596/" class="btn btn-primary d-block">Go to My Twitch</a>
                </div>
            </div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">My Github</h5>
                    <p class="card-text text-center">
						Follow me on Github
                    </p>
                    <a href="https://github.com/Jonak-Adipta-Kalita" class="btn btn-primary d-block">Go to My Github</a>
                </div>
            </div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">My Discord</h5>
                    <p class="card-text text-center">
						Join my Discord Community!!
                    </p>
                    <a href="https://discord.gg/aUHNyYUn" class="btn btn-primary d-block">Go to My Discord</a>
					<br/>
                    <a href="https://discord.com/oauth2/authorize?client_id=756402881913028689&scope=bot" class="btn btn-primary d-block">Invite My Bot</a>
                </div>
            </div>
		</div>
	</div>
	<br />
	{% endblock %}