{% extends 'base.html' %}
{% block title %} Web Builds {% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<div class="card-body">
					<h6 class="card-title text-center">JAK News App</h6>
					<a href="https://jak-news-app.netlify.app" class="btn btn-primary d-block">LINK</a>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<div class="card-body">
					<h6 class="card-title text-center">JAK Pokedex</h6>
					<a href="https://jak-pokedex.netlify.app" class="btn btn-primary d-block">LINK</a>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<div class="card-body">
					<h6 class="card-title text-center">JAK Covid-19 Tracker</h6>
					<a href="https://jak-covid19-tracker.netlify.app" class="btn btn-primary d-block">LINK</a>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<div class="card-body">
					<h6 class="card-title text-center">JAK Slack Clone</h6>
					<a href="https://jak-slack-clone.netlify.app" class="btn btn-primary d-block">LINK</a>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<div class="card-body">
					<h6 class="card-title text-center">JAK Youtube Clone</h6>
					<a href="https://jak-youtube-clone.netlify.app" class="btn btn-primary d-block">LINK</a>
				</div>
			</div>
			<div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
				<div class="card-body">
					<h6 class="card-title text-center">JAK Anime Searcher App</h6>
					<a href="https://jak-anime-searcher-app.netlify.app" class="btn btn-primary d-block">LINK</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
