.avatar-container {
    margin-bottom: 10px;
}

.avatar-container h3 {
    margin-bottom: 20px;
}

.avatar-container img {
    border-radius: 15px;
    margin-right: 50px;
    padding: -10px;
    width: 100px;
    height: 100px;
}
