@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "OtomanopeeOne";
    font-weight: 600;
    src: url(/fonts/OtomanopeeOne-Regular.ttf) format("truetype");
}

body {
    @apply font-otomanopee-one;
}
